<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >  
  <ul class="navbar-nav">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <font size=6>여행Tip</font>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">여행이야기</a>
        <a class="dropdown-item" href="#section42">여행코스</a>
</div>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       <font size=6>여행지</font>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">축제</a>
        <a class="dropdown-item" href="#section42">자연</a>
        <a class="dropdown-item" href="#section42">문화</a>
        <a class="dropdown-item" href="#section42">체험</a>
      </div>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <font size=6>숙박</font>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">호텔</a>
        <a class="dropdown-item" href="#section42">펜션</a>
        <a class="dropdown-item" href="#section42">리조트</a>
      </div>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <font size=6>맛집</font>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">한식</a>
        <a class="dropdown-item" href="#section42">중식</a>
        <a class="dropdown-item" href="#section42">양식</a>
        <a class="dropdown-item" href="#section42">일식</a>
        <a class="dropdown-item" href="#section42">디저트</a>
      </div>
    </li>
  </ul>
</nav><br><br><br>

<center><b style="font-size:70px"><code>호텔</code></b></center>
  <div class="btn-group" >
  <button type="button" class="btn btn-outline-primary" style="font-size:40px">호텔</button>
  <button type="button" class="btn btn-outline-primary" style="font-size:40px">펜션</button>
  <button type="button" class="btn btn-outline-primary" style="font-size:40px">리조트</button><br><br>

</div>
<div class="container">
  <button type="button" class="btn btn-outline-primary">수원</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">고양</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">용인</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">성남</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">부천</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">안산</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">화성</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">남양주</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">안양</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">평택</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">의정부</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">파주</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">시흥</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">김포</button>&nbsp;&nbsp;&nbsp;<br><br>
  <button type="button" class="btn btn-outline-primary">광명</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">광주</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">군포</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">이천</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">오산</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">하남</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">양주</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">구리</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">안성</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">포천</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">의왕</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">여주</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">양평</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">동두천</button>&nbsp;&nbsp;&nbsp;<br><br>
  <button type="button" class="btn btn-outline-primary">과천</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">가평</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-outline-primary">연천</button>&nbsp;&nbsp;&nbsp;
</div>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 300;
  }
  </style>
</head>

<body>

<div id="demo" class="carousel slide" data-ride="carousel" style="width:40%; height:350px; left:30%">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <img type="button" src="../photo/리조트/가평힐링리조트/1.jpg" class="rounded" alt="Cinque Terre">
  <img type="button" src="../photo/리조트/가평힐링리조트/2.jpg" class="rounded" alt="Cinque Terre">
  <img type="button" src="../photo/리조트/가평힐링리조트/3.jpg" class="rounded" alt="Cinque Terre">
  
</div>

</body>
</html>
